img {
  width: auto;
  height: 80%;
}
.bg {
  background-color: #a5a5a5;
  padding: 2% 0%;
}
.bg-sch {
  background-color: #b0d9b1;
  padding: 2% 0%;
}
.small-input {
  width: 150px;
  font-size: 14px;
}
.right {
  text-align: right;
  align-self: center;
}
.padding {
  padding: 2% 4%;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .carousel-image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .form-control-sidebar {
    width: 100%;
  }
  .btn-sidebar {
    width: 100%;
  }
}
.right_sch {
  justify-content: flex-end;
}
